{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-1"></div>
<div class="col-md-8">
	{% for trek in treks %}
		<div class="col-md-12 treklist">
			<div class="col-md-12">
				<h4>Nom: {{ trek.nom }}</h4>
			</div>
			<div class="col-md-12">
				<h4>Lieu: {{ trek.region }}</h4>
			</div>
			<div class="col-md-12">
				<h4>Niveau: {{ trek.niveau }}</h4>
			</div>
			<div class="col-md-12">
				<h4>Locomotion: {{ trek.locomotion }}</h4>
			</div>
			<div class="col-md-12">
				<div class="col-md-5"></div>
				<div class="col-md-2">
				<a href="{{ path('trek_show', { 'trekid': trek.id }) }}" class="accestrek">Acceder:</a>
				</div>
				<div class="col-md-5"></div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="col-md-2"></div>


{% endblock %}